  <%= image_tag @random_image[0]['url'], class: "testimg" %>
  <br>
  <p>Image ID: <%= @random_image[0]['id'] %></p>
  <div>
    <a href="/favourites/new" class="button">New</a>
    <br>
    <br>
    <a href="/favourites/" class="button">List</a>
  </div>