<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <img src="<%= @rnd_img[0]['url']%>" alt="avatar" style="border: crimson solid;">
  <br>
  <p>Image ID: <%= @rnd_img[0]['id'] %></p>
  <div>
    <a href="/favourites/new" class="button">New</a>
    <br>
    <br>
    <a href="/favourites/" class="button">List</a>
  </div>
</body>
</html>